<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
<link rel="stylesheet" href="candidate_registration.css">
</head>
<body>
    <div class="register-form">
        <h1><b> Candidate Registration</b></h1>
        <div class="container">
            <div class="main">
                <div class="content">
                    <h2>Register Here</h2>
                    <form action="/candidate_registration" method="POST" enctype="multipart/form-data">
                        <input type="text" name="cname" placeholder="Candidate_Name" required autofocus="">
                        <input type="num" name="cage" placeholder="Candidate_Age" required autofocus="">
                        <input type="text" name="cparty" placeholder="Candidate_Party" required autofocus="">
                        <input type="num" name="cadhar" placeholder="Candidate_Aadhar" required autofocus="">
                        <input type="num" name="cvoterId" placeholder="Candidate_VoterId" required autofocus="">
                        <input type="num" name="cphone" placeholder="Phone_Number" required autofocus="">
                        <input type="file" name="cphoto" id="photo" >
                         <button class="btn" type="submit">
                            Register
                         </button><br><br>
                        
                    </form>
                   
                     
                </div>
                <div class="form-img">
                    <img src="/public/images/candidate_registration_image.png" alt="" height="350px" width="900px">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
