<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <div class="container">
        <div class="item">
            <div class="contact">
                <div class="text">Lets Get in touch</div>
                <img src="/public/images/contact.jpg" alt="" class="image">
            </div>
            <div class="submit-form">
                <h4 class="second-text">Contact Us</h4>
                <form action="">
                    <div class="input-box">
                        <input type="text" class="input" required>
                        <label for="">Name </label>
                    </div>
                    <div class="input-box">
                        <input type="email" class="input" required>
                        <label for="">Email </label>
                    </div>
                    <div class="input-box">
                        <input type="num" class="input" required>
                        <label for="">Phone </label>
                    </div>
                    <div class="input-box">
                        <textarea name="" class="input" required id="message" cols="30" rows="10"></textarea>
                        <label for="">Message </label>
                    </div>
                    <input type="submit" class="btn" value="Send">
                </form>
            </div>
        </div>
    </div>
</body>
</html>