<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index1.css">
    <link rel="stylesheet" href="index2.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        </label>

        <label class="logo"><img src="homepage_logo.jpg" width="90px"></label>
        <ul>
            <li><a href="#"><button class="works">How It Works</button></a></li>
            <li> <a href="#"><button class="contact">Contact Us</button></a></li>
            <li><a href="#"><button class="admin">Admin Login</button></a></li>
            <li><a href="#"><button class="login">Login</button></a></li>
        </ul>
      </nav>
      
    <div class="main_container">
        <div class="content_box">
            <div class="homemain_heading_box">
                <h2 id="heading">"Empowering every vote<br>
                    ensuring every voice"</h2>
            </div>
            <div class="homemain_paragraph_box">
                <p>An innovative and secure online voting system designed to ensure
                    privacy, accuracy,<br> and accessibility for all users, enabling a seamless
                    and trustworthy voting experience.
                </p>
            </div>
            <div class="startedbtn_box">
                <a href="./voterregistration.html"><button class="startbtn">Get Started</button></a>
            </div>
        </div>
    
            <div class="homemain_img">
                 <img src="homepage_image.jpg" class="sideimg">
            </div>
    </div>
    
</body>
</html>
