<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
<link rel="stylesheet" href="voterregistration.css">
</head>
<body>
    <div class="register-form">
        <h1><b>Registration form</b></h1>
        <form>
        <div class="container">
            <div class="main">
                <div class="content">
                    <h2>Register Here</h2>
                    <form action="#" method="post">
                        <input type="text" name="" placeholder="Full Name" required autofocus="">
                        <input type="num" name="" placeholder="Enter Your Age" required autofocus="">
                        <input type="num" name="" placeholder="Voter Id Number" required autofocus="">
                        <input type="num" name="" placeholder="Adhar Number" required autofocus="">
                        <input type="num" name="" placeholder="Phone Number" required autofocus="">
                        <input type="password" name="" placeholder="Password" required autofocus="">
                        <input type="password" name="" placeholder="Confirm Password" required autofocus="">
                         <button class="btn" type="submit">
                            Register
                         </button><br><br>
                        
                    </form>
                    <p class="account">User already exists? <a href="login.html">Login here</a></p>
                     
                </div>
                <div class="form-img">
                    <img src="user_registration.png" alt="" height="400px" width="800px">
                </div>
            </div>
        </div>
        </form>
    </div>
</body>
</html>
